@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>&nbsp;&nbsp; TopJobs Inc. is a company that renders recruitment services in the US. With a network of more than 30 offices nationwide, the company specializes in the areas of accounting, finance, sales, marketing, information technology, and engineering. It has tie-ups with the employers from various sectors. The company provides services for full-time, part-time, and contractual employment.</p>
